.npm-downloads {
  display: flex;
  gap: 0.5rem;
  width: max-content;
  font-size: 0.9rem;
  font-weight: 300;
  margin: auto;

  & .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem 0;
  }

  & .highlight {
    & .q {
      font-weight: 700;
    }

    & .v {
      background: #ba3f3f;
      color: #fff;
      padding:  0.2rem;
    }

    & .bar .inner {
      background: linear-gradient(darkred, #ba3f3f);
    }
  }

  & .bar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 20px;
    height: 50px;

    & :where(.inner) {
      height: var(--size, 0%);
      background: #ba3f3f;
    }
  }

  & :where(.v) {
    color: #666;
  }
}
