@font-face {
  font-family: Lexend;
  font-weight: 400;
  src:
    url("fonts/lexend-400.woff2") format("woff2"),
    url("fonts/lexend-400.woff") format("woff");
}

@font-face {
  font-family: Lexend;
  font-weight: 500;
  src:
    url("fonts/lexend-500.woff2") format("woff2"),
    url("fonts/lexend-500.woff") format("woff");
}

@font-face {
  font-family: Lexend;
  font-weight: 600;
  src:
    url("fonts/lexend-600.woff2") format("woff2"),
    url("fonts/lexend-600.woff") format("woff");
}

body {
  background: #171717;
  color: #fff;
}

.container {
  --max-width: 1024px;

  /* margin: auto; */
  min-width: var(--max-width);
}

table.compare {
  font-family: Lexend, sans-serif;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  border-spacing: 4px 0;

  & tr:nth-child(1) :is(th, td) {
    --bgcolor: #7d1cc3;

    font-weight: 500;
    color: #fff;
    background: var(--bgcolor);
  }

  & tr:nth-child(2) td {
    font-size: 0.9rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  & :is(th, td) {
    text-align: center;
    width: 325px;
    background: #fff;
    color: #333;
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
    position: relative;

    & img {
      vertical-align: middle;
      margin-right: 0.5rem;
      opacity: 60%;
    }

    & input[type="search"] {
      font-family: Lexend, sans-serif;
      font-size: 1rem;
      padding: 0.5rem;
      background: #ddd;
      border: 2px solid color-mix(in srgb, var(--bgcolor), #000 30%);
    }
  }
}

/* Components */
table.compare {
  & img.loading {
    opacity: 40%;
  }

  & button.close {
    border: 0;
    background: #db4141;
    color: #fff;
    position: absolute;
    padding: 2px 6px;
    font-weight: 700;
    top: 5px;
    right: 5px;

    &:hover {
      background: black;
      cursor: pointer;
    }
  }
}

.npm-downloads {
  font-size: 1rem;

  & .row {
    border: 1px solid #ccc;
    align-items: center;
  }

  & .version {
    width: 75px;
    background: #ccc;
    padding: 0.5rem;
  }

  & .total {
    margin-top: 0.5rem;
    background: #2a44ab;
    color: #fff;
  }

  & .latest {
    background: #9d1313;
    color: #fff;
  }
}

/* Utility */

.badge {
  background: var(--bgcolor);
  color: #fff;
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 3px;

  &.green { --bgcolor: green; }
  &.orange { --bgcolor: #d75829; }
  &.darklime { --bgcolor: #537e1b; }
}

.row {
  display: flex;
  padding: 0 1rem;
}

small {
  color: #888;
  font-weight: 400;
  font-size: 0.9rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-2 {
  display: inline-grid;
  grid-template-columns: 150px 1fr;
}
