table.compare {
  font-family: Lexend, sans-serif;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  border-spacing: 4px 0;

  & tr > th {
    min-width: 175px;
    max-width: 175px;
    background: #fff;
    color: #111;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    text-align: left;

    & img {
      vertical-align: middle;
      margin-right: 0.5rem;
      opacity: 60%;
    }
  }

  & tr:nth-child(1) :is(th, td) {
    --bgcolor: #7d1cc3;

    background: var(--bgcolor, #fff);
    font-weight: 500;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #eee;
    position: relative;
  }
}
